* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(0, 250, 230);
  font-family: "poppins", sans-serif;
}

p {
  font-size: 0.5rem;
  pointer-events: none;
}

img {
  width: 10rem;
  height: 10rem;
}

li {
  display: flex;
}

.main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  background: white;
  border-radius: 2rem;
  min-height: 20vh;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem 0;
  position: relative;

  /*inner elements styling*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro {
  flex-direction: column;
}

.application {
  flex-direction: column;
}

.properties {
  flex-direction: column;
}

*::before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  transform: scaleX(1);
  border-radius: 2rem;
  background: rgb(211, 211, 211);
  transform-origin: right;
}

.basic::before {
  content: "Element";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in;
}

.intro::before {
  content: "Introduction";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in;
}

.application::before {
  content: "Application";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in;
}

.properties::before {
  content: "Properties";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  transition: transform 250ms ease-in;
}

.intro:hover::before,
.properties:hover::before,
.application:hover::before,
.basic:hover::before {
  transform: scale(0, 0);
  right: 0;
}
