* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "poppins", sans-serif;
}

p {
  font-size: 0.5rem;
  pointer-events: none;
}

img {
  width: 10rem;
  height: 10rem;
}

li {
  display: flex;
}

#info-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.container {
  background: white;
  border-radius: 2rem;
  min-height: 20vh;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 1rem 0;
  position: relative;

  /*inner elements styling*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro {
  flex-direction: column;
}

.application {
  flex-direction: column;
}

.properties {
  flex-direction: column;
}

.intro-p {
  margin: 0.5rem;
}

.app-p {
  margin: 0.5rem;
}

.prop {
  margin: 0.5rem;
}
