* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "poppins", sans-serif;
}

p {
  font-size: 0.4rem;
  pointer-events: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.periodic-bg {
  aspect-ratio: 18/10;
  display: block;
  width: 160vmin;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background: rgb(0, 0, 0);
  padding: 1vmin;
  gap: 0;
}

.periodic-bg .element-box {
  background: rgb(0, 0, 0);
  padding: 10px;
  border: 0.3vh solid black;
}

.periodic-bg .element-box .hyperlink {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.periodic-bg .element {
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/*Empty space between H and He*/

.periodic-bg .empty-space-one {
  background: rgb(0, 0, 0);
  grid-area: 1/2/1/18;
  border: 2px solid black;
}

.periodic-bg .empty-space-two {
  background: rgb(0, 0, 0);
  grid-area: 2/3/2/13;
  border: 2px solid black;
}

.periodic-bg .empty-space-three {
  background: rgb(0, 0, 0);
  grid-area: 3/3/3/13;
  border: 2px solid black;
}

.periodic-bg .empty-space-four {
  background: rgb(0, 0, 0);
  grid-area: 9/1/11/3;
  border: 2px solid black;
}

.periodic-bg .empty-space-five {
  background: rgb(0, 0, 0);
  grid-area: 9/18/11/19;
  border: 2px solid black;
}

.periodic-bg .divider {
  background: rgb(0, 0, 0);
  grid-area: 8/1/9/19;
  border: 2px solid black;
}

/* Hover effect */

.element-box {
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.element-box:hover {
  transform: scale(1.5); /* Increases size on hover */
  z-index: 1; /* Places the hovered element above others */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.element-hover {
  display: none; /* Hidden by default */
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1);
}

.align {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.atomic-number {
  position: absolute;
  top: 0;
  left: 0;
}

.atomic-mass {
  position: absolute;
  bottom: 0;
  right: 0;
}

.element-symbol {
  font-size: 0.7rem;
}

.element-box:hover .inner-element-name {
  opacity: 0; /* Fade out original content */
  pointer-events: none;
  display: none;
}

.element-box:hover .element-hover {
  display: block; /* Show hover content */
  opacity: 1;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Popup*/

.popup-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.popup {
  background: white;
  border-radius: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(-2rem);
  min-width: 50%;
  min-height: 65vh;
  opacity: 0;
  pointer-events: none;

  /*inner elements styling*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-info img {
  width: 15rem;
  height: 15rem;
}

.popup li {
  display: flex;
}

.info-link {
  font-size: 1.5rem;
  color: black;
  position: relative;
}

.info-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: black;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}
.info-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background: #555;
}
.info-link:hover {
  color: #555;
}

.ele-abundance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-close {
  position: absolute;
  right: -0.1%;
  top: -0.1%;
  height: 9vh;
  width: 9vh;
  padding: 1rem;
  border-radius: 2rem;
  background: rgb(68, 76, 91);
  color: white;
  cursor: pointer;
}

.active {
  opacity: 1;
  pointer-events: all;
}

/*Search box styling following a youtuber tutorial*/
.bg-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 10vh;
}
.search-box {
  width: 50%;
  background: #fff;
  border-radius: 1vmin;
  align-self: center;
  border-radius: 2rem;
}
.search-box .row {
  display: flex;
  align-items: center;
  padding: 2vmin;
}
.search-box .row input {
  margin-left: 1rem;
  flex: 1;
  color: #333;
  height: 3vh;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
}
.search-box .row button {
  background: transparent;
  border: 0;
  outline: 0;
}
.search-box .row button fa-solid {
  width: 25px;
  cursor: pointer;
  color: #555;
  font-size: 22px;
}
.search-box .result-box ul {
  border-top: 1px solid #999;
  padding: 15px 10px;
}
.search-box .result-box ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;
}
.search-box .result-box ul li:hover {
  background: #e9f3ff;
}
.search-box .result-box {
  max-height: 300px;
  overflow-y: overflow;
}

/*temperature slider styling*/

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-value-kelvin {
  width: 3rem;
  font-size: 1.2rem;
  align-content: center;
  border-radius: 1rem;
  background: white;
  border: none;
  margin-left: 0.7rem;
}
.temp-value::after {
  content: "K";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.temp-slider {
  -webkit-appearance: none;
  margin: 0.5rem 0;
  width: 25%;
  border-radius: 1rem;
  cursor: pointer;
  background: linear-gradient(to right, blue, red);
}

/**/
/**/
/**/
/**/
/*Filter element*/
.filterElements {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 0.4vh;
}

.alkaliMetals {
  color: rgb(35, 244, 255);
  padding: 1vh;
  border: solid rgb(35, 244, 255) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.alkalineEarthMetals {
  color: rgb(48, 193, 255);
  padding: 1vh;
  border: solid rgb(48, 193, 255) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.transitionElements {
  color: rgb(255, 228, 77);
  padding: 1vh;
  border: solid rgb(255, 228, 77) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.postTransitionElements {
  color: rgb(255, 170, 0);
  padding: 1vh;
  border: solid rgb(255, 170, 0) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.metalloids {
  color: rgb(183, 198, 196);
  padding: 1vh;
  border: solid rgb(183, 198, 196) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.nonMetals {
  color: rgb(255, 69, 112);
  padding: 1vh;
  border: solid rgb(255, 69, 112) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.nobleGases {
  color: rgb(183, 48, 255);
  padding: 1vh;
  border: solid rgb(183, 48, 255) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.lanthanoids {
  color: rgb(180, 255, 41);
  padding: 1vh;
  border: solid rgb(180, 255, 41) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
}
.actinoids {
  color: rgb(0, 255, 115);
  border: solid rgb(0, 255, 115) 0.5vh;
  border-radius: 5vh;
  cursor: pointer;
  padding: 1vh;
}

.periodic-bg .alkalineEarthMetal {
  background: rgb(48, 193, 255);
}

.periodic-bg .alkaliMetal {
  background: rgb(35, 244, 255);
}

.periodic-bg .transitionElement {
  background: rgb(255, 228, 77);
}

.periodic-bg .metalloid {
  background: rgb(183, 198, 196);
}

.periodic-bg .nobleGas {
  background: rgb(183, 48, 255);
}

.periodic-bg .lanthanoid {
  background: rgb(180, 255, 41);
}

.periodic-bg .actinoid {
  background: rgb(0, 255, 115);
}

.periodic-bg .alkalineEarthMetal {
  background: rgb(48, 193, 255);
}

.periodic-bg .nonMetal {
  background: rgb(255, 69, 112);
}

.periodic-bg .postTransitionElement {
  background: rgb(255, 170, 0);
}

.amglow {
  box-shadow: 0 0 5vh 0.7vh rgb(35, 244, 255);
}
.aemglow {
  box-shadow: 0 0 5vh 0.7vh rgb(48, 193, 255);
}
.teglow {
  box-shadow: 0 0 5vh 0.7vh rgb(255, 228, 77);
}
.pteglow {
  box-shadow: 0 0 5vh 0.7vh rgb(255, 170, 0);
}
.mglow {
  box-shadow: 0 0 5vh 0.7vh rgb(183, 198, 196);
}
.nmglow {
  box-shadow: 0 0 5vh 0.7vh rgb(255, 69, 112);
}
.ngglow {
  box-shadow: 0 0 5vh 0.7vh rgb(183, 48, 255);
}
.laglow {
  box-shadow: 0 0 5vh 0.7vh rgb(180, 255, 41);
}
.acglow {
  box-shadow: 0 0 5vh 0.7vh rgb(0, 255, 115);
}
.ngglow {
  box-shadow: 0 0 5vh 0.7vh rgb(183, 48, 255);
}
